html {
	color: var(--text);
	background-color: var(--background-primary);
}

button {
	background-color: var(--button);
}

button:hover {
	/* Harware */
	cursor: pointer;

	/* Styling */
	background-color: var(--button-hover);
}

header {
	/* Align content */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	text-align: center;
	padding: 2rem;

	/* Set size */
	min-width: 100vw;
	min-height: 44svh;

	/* Style */
	background-color: rgba(0, 119, 255, 0.151);
}

header button {
	padding: 1rem;
	border: none;
	border-radius: 8px;

	font-weight: 600;
	box-shadow: 0 6px 12px var(--button-shadow);
}

main {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	max-width: 1024px;
	margin: 2rem auto;
	padding: 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-header);
}

/* Utilities, could be its own CSS file. */
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Used on pricing page, could be its own CSS file. */
.card-list {
	/* Align content */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 2rem;
}

.card-list li {
	/* Size */
	max-width: 200px;

	/* Style */
	box-shadow: 0 6px 12px var(--button-shadow);
	padding: 1rem;
	transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

.card-list li:hover {
	/* Harware */
	cursor: pointer;

	/* Animation */
	transform: translateY(-16px);
	box-shadow: 0 22px 32px var(--button-shadow);
}

.card-list li article {
	/* Align content */
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	text-align: center;
}
