html {
	color: var(--text);
	background-color: var(--background-primary);
}

button {
	background-color: var(--button);
}

button:hover {
	background-color: var(--button-hover);
}

header {
	/* Align content */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	text-align: center;
	padding: 2rem;

	/* Set size */
	min-width: 100vw;
	min-height: 44svh;

	/* Style */
	background-color: rgba(0, 119, 255, 0.151);
}

header button {
	padding: 1rem;
	border: none;
	border-radius: 8px;

	font-weight: 600;
	box-shadow: 0 6px 12px var(--button-shadow);
}

main {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	max-width: 1024px;
	margin: 2rem auto;
	padding: 0 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--text-header);
}
